/* Основные стили для шапки */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Можете поменять на нужный цвет */
}

.logo img {
    height: 40px; /* Настройте размер логотипа */
}

.header-text {
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Кнопки */
.buttons-header .button-header {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.purple-btn {
    background-color: #611f69; /* Пример цвета кнопки */
    color: #fff;
}

.white-btn {
    background-color: #fff;
    color: #611f69;
    border: 1px solid #611f69;
}

/* Дополнительно настроить стили по аналогии */

